<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "YOGAWORLD",instructor_root_path, id:"logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",instructor_root_path %></li>
        <li><%= link_to "Help",'#' %></li>
        <% if ir_logged_in? %>
          <li><%= link_to "Event",'#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile",instructor_ir_user_path(ir_current_user) %></li>
              <li><%= link_to "Settings",edit_instructor_ir_user_path(ir_current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out",instructor_logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in",instructor_login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
