<% provide(:title, @event.name) %>
<h1>イベント</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <label>name:</label>
      <%= @event.name %>
    </div>

    <div class="form-group">
      <label>date:</label>
       <%= @event.date %>
    </div>

    <div class="form-group">
      <label>place:</label>
      <p><%= @event.place %></p>
    </div>

    <div class="form-group">
      <label>term: </label>
      <%= @event.term %>
    </div>

    <div class="form-group">
      <label>fee: </label>
      <%= @event.fee %>
    </div>

    <div class="form-group">
      <label>explanation: </label>
      <%= @event.explanation %>
    </div>

    <div class="form-group">
      <label>comment_for_Instructor: </label>
      <%= @event.comment %>
    </div>

    <div class="form-group">
    <%= link_to "応募する",instructor_applys_path(event_id: @event.id),method: :post, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>